@charset "UTF-8";
.mood_tracker {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2.4rem;
  padding-bottom: 4.8rem;
}
.mood_tracker__statistics button {
  max-width: 13.4rem;
  margin: 0 auto;
}
.mood_tracker__btn {
  padding: 0.4rem 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  background: #ffc75a;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  flex: none;
  order: 2;
  flex-grow: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: #000000;
}
.mood_tracker__title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 3.6rem;
}
.mood_tracker__box {
  height: 12rem;
  padding: 1.2rem;
  display: grid;
  align-content: space-between;
  border-radius: 1.2rem;
  background-color: #ffffff;
  position: relative;
}
.mood_tracker__box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mood_tracker__top {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: var(--font-color-primary);
  font-weight: 500;
  margin-left: -2.5rem;
}
.mood_tracker__top span:first-of-type {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #7d7d7d;
}
.mood_tracker__top span:last-of-type {
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #1e1e1e;
}
.mood_tracker__top_passive {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: var(--font-color-primary);
  font-weight: 500;
  margin-left: -2.5rem;
}
.mood_tracker__top_passive span:first-of-type {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #7d7d7d;
  margin-top: 1rem;
}
.mood_tracker__top_passive span:last-of-type {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.7rem;
  color: #1e1e1e;
}
@media (min-width: 350px) {
  .mood_tracker__top_passive span:last-of-type {
    font-size: 1.4rem;
  }
}
.mood_tracker__time {
  font-weight: 700;
  font-size: 1.6rem;
}
.mood_tracker__bottom {
  display: grid;
  grid-gap: 1.8rem;
}
.mood_tracker__emotions {
  display: flex;
  justify-content: space-between;
  gap: 1.6rem;
  opacity: 0.7;
}
.mood_tracker__emotions svg {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
}
.mood_tracker__options {
  height: 6.8rem;
  padding: 0.8rem;
  display: grid;
  align-content: space-between;
  color: var(--font-color-grey);
  border-radius: 0.8rem;
  background-color: var(--bg-color-primary);
}
.mood_tracker__selected_emotion {
  padding: 8px;
  margin: 0 auto;
  width: 55px;
  height: 55px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
}
.mood_tracker__selected_emotion svg {
  width: 4rem;
  height: 4rem;
}
.mood_tracker__selected_emotion_passive {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}
.mood_tracker__time_passive {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mood_tracker__time_passive .mood_tracker__day {
  font-size: 2.4rem; /* Размер для дня */
  font-weight: bold; /* Жирный текст для дня */
  color: #1e1e1e; /* Цвет для дня */
}
.mood_tracker__time_passive .mood_tracker__month {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #1e1e1e;
}

.mood_tracker_passive {
  padding-bottom: 4.8rem;
  /* Остальные стили остаются такими же */
  /* Адаптивные стили для больших экранов */
}
.mood_tracker_passive__container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование по горизонтали */
  gap: 2rem; /* Расстояние между картинкой и блоком */
}
.mood_tracker_passive__image {
  max-width: 60%;
  height: auto;
  display: block;
  margin-bottom: -1.7rem;
  position: relative;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  margin-top: 2rem;
}
.mood_tracker_passive__box {
  height: 12rem;
  padding: 1.2rem;
  display: grid;
  align-content: space-between;
  border-radius: 1.2rem;
  background-color: #ffffff;
  position: relative;
}
.mood_tracker_passive__statistics button {
  max-width: 13.2rem;
  margin: 0 auto;
}
.mood_tracker_passive__btn {
  padding: 0.4rem 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  background: #ffc75a;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  flex: none;
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  color: #000000;
}
.mood_tracker_passive__title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 3.6rem;
  margin-bottom: 3rem;
  text-align: center;
}
.mood_tracker_passive__time_passive {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 8px 10px 8px;
}
.mood_tracker_passive__time_passive .mood_tracker__day {
  font-size: 2.4rem; /* Размер для дня */
  font-weight: bold; /* Жирный текст для дня */
  color: #1e1e1e; /* Цвет для дня */
}
.mood_tracker_passive__time_passive .mood_tracker__month {
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #1e1e1e;
}
@media (min-width: 768px) {
  .mood_tracker_passive__image {
    width: 40%; /* Уменьшение изображения на больших экранах */
  }
}
@media (min-width: 1024px) {
  .mood_tracker_passive__image {
    width: 30%; /* Ещё меньше для больших экранов */
  }
}

/*# sourceMappingURL=mood-tracker.module.css.map */
