@import 'breakpoints';
@import 'text-editor';
@import 'variables';
@import 'themes';
@import 'classnames';

* {
  color-scheme: only light;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  font-size: 10px;
  background-color: var(--bg-color-primary);
  overflow-x: hidden;
  overflow-y: scroll; /* или auto, если так предпочтительнее */
  -webkit-overflow-scrolling: touch;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
  font-size: inherit;
  font-weight: inherit;
}

input,
button {
  padding: unset;
  background-color: var(--bg-color-primary);
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  outline: none;
  background-color: inherit;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-overflow: ellipsis;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.ProseMirror {
  min-height: 100vh; /* Чтобы поле не схлопывалось */
  max-height: calc(100vh - 200px); /* Учитывая место для клавиатуры */
  overflow-y: auto;
}
