.photoTutorial {
  position: relative;
  width: 100%;
  overflow: hidden;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 20px;
    transition: color 0.3s;

    &:hover {
      color: #0070f3; // Пример стиля при наведении
    }
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
  }

  &__dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  &__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      background-color: #ffc75a; // Цвет активной точки
    }

    &:hover {
      background-color: #cfcfcf; // Цвет точки при наведении
    }
  }
}
