.select_mood {
  min-height: 100vh;
  padding-top: 7.3rem;
  padding-bottom: 7rem;

  display: grid;
  grid-gap: var(--gap-large);
  align-content: space-between;
  justify-items: center;

  transition: background-color var(--transition);

  &.red {
    background-color: var(--accent-color-red);
  }

  &.blue {
    background-color: var(--accent-color-light-blue);
  }

  &.green {
    background-color: var(--accent-color-green);
  }

  &.yellow {
    background-color: var(--accent-color-light-yellow);
  }
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1e1e1e;
    margin-bottom: 1rem;
  }

  &__head {
    position: relative;
    z-index: 3;
    display: grid;
    grid-gap: var(--gap-medium);
    text-align: center;
    font-size: 1.2rem;
    .title {
      font-style: normal;
      font-weight: 700;
      font-size: 2.8rem;
      line-height: 3.4rem;
      text-align: center;
      color: #1e1e1e;
    }
  }

  &__emotions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.8rem;
  }

  &__emotion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 3.4rem;
    transition: opacity var(--transition);
    border-radius: 20px;

    & span {
      font-style: normal;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2rem;
      color: #1e1e1e;
    }

    &.activated {
      opacity: 0.3;
    }

    &.active {
      opacity: 1;
    }

    & svg {
      width: 5.4rem;
      height: 5.4rem;
    }
  }

  &__buttons {
    width: 100%;
    display: grid;
    grid-gap: var(--gap-medium-small);
    padding: 0 2rem;
  }
  .additional_moods {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .additional_mood {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 8px;
      gap: 8px;
      height: 31px;
      background: #ffffff;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      span {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #000000;
      }
    }
    .additional_mood.active {
      background: #ffc75a;
      span {
        font-weight: 700;
      }
    }
  }
  .footer {
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 0 2rem;
    flex-direction: column;
    label {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: #1e1e1e;
    }
    textarea {
      background: #f2f2f2;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
      border-radius: 12px;
      height: 54px;
      width: 100%;
      flex: none;
      border: none;
    }
  }
  .backBtn {
    position: absolute;
    top: 3.7rem;
    left: 2rem;
    width: 2.2rem;
    height: 2rem;
  }
}

.validationImage {
  height: auto; // Высота автоматически
  animation: fadeInOut 3s ease; // Применение анимации
}

@keyframes fadeInOut {
  0% {
    opacity: 0; // Изображение изначально невидимо
    transform: translateY(-20px); // Небольшое смещение вверх
  }
  20% {
    opacity: 1; // Полная видимость
    transform: translateY(0); // На своем месте
  }
  80% {
    opacity: 1; // По-прежнему видно
  }
  100% {
    opacity: 0; // Исчезает
    transform: translateY(20px); // Небольшое смещение вниз
  }
}
