.tutorials {
  padding-top: 6.8rem;
  display: grid;
  gap: 3.2rem;
  max-width: 100%;
  margin: 0 auto;

  &__position_favoriteBtn {
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
  }
  &__instructions {
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 118%;
      color: #000000;
      order: 2;
      flex-grow: 0;
      margin-top: 1rem;
      align-self: baseline;
    }
  }

  &__back_btn {
    position: absolute;
    top: 37px;
    left: 31px;
    width: 22px;
    height: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 3.4rem;
    color: #1e1e1e;
    text-align: left;
    margin-top: 1rem;
  }

  &__content {
    display: grid;
    gap: 2.4rem;
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    border-radius: 1.6rem;
    background: #fff1b6;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    /* Text/3 */
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #1e1e1e;
  }

  &__box_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ffc75a;
    font-size: 1.6rem;
    font-weight: 700;
    transition: gap var(--transition);

    &.expanded {
      gap: 1.8rem;
    }
  }

  &__box_btn {
    display: block;

    & svg {
      width: 2rem;
      height: 2rem;
      transition: transform var(--transition);
    }

    &.expanded {
      & svg {
        transform: rotate(180deg);
      }
    }
  }

  &__box_wrapper {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--transition);

    &.expanded {
      grid-template-rows: 1fr;
    }
  }

  &__box_inner {
    overflow: hidden;
  }
}

.iconGuides {
  position: absolute;
  top: 70px;
  right: 20px;
}

.iconGuides2 {
  position: absolute;
  top: 23px;
  right: 20px;
}

.tutorials__favorite_btn {
  align-self: end;
}
