/* Error: Undefined mixin.
 *    ,
 * 39 | /     @include large_screen {
 * 40 | |       gap: 7.8rem;
 * 41 | \     }
 *    '
 *   entry.module.scss 39:5  root stylesheet */

body::before {
  font-family: 'Source Code Pro', 'SF Mono', Monaco, Inconsolata, 'Fira Mono', 'Droid Sans Mono',
    monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined mixin.\a    \2577 \a 39 \2502  \250c      @include large_screen {\a 40 \2502  \2502        gap: 7.8rem;\a 41 \2502  \2514      }\a    \2575 \a   entry.module.scss 39:5  root stylesheet';
}
